* {
box-sizing: border-box;
}

body {
      font-family: Arial, sans-serif;
      background: url(/images/OIP.webp) no-repeat center center/cover;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search-container {
      display: flex;
      justify-content: center;
      background-color: #9983834b;
      padding: 20px;
      border-radius: 10px;
    
    }

   input {
    padding: 10px;
    margin: 10px;
   }

   option {
    padding: 10px;
    margin: 10px;
   
   }
   button {
    padding: 10px;
    margin: 10px;
    color: #241f1f;
    background-color: rgb(39, 92, 31);
   }